  @media only screen and (min-width: 1000px) {

    .art-wrapper {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-gap: 10px;
    }

    /*-----MAIN-----*/


    /*-----HEADER & NAVIGATION-----*/


    /*mobile-first*/


    /*-----LOGO-----*/


    /*-----FOOTER-----*/


    /*-----HOMEPAGE-----*/
    .main-image{
      background-image: url("../img/bgLarge.jpg");
      background-size: 50%;
      background-repeat: no-repeat;
    }
    /*-----IMAGES PAGE ------*/



    /*-----CONTACTS PAGE ------*/
