*{
  margin: 0;
}
#wrap{
  /* background:gray; */
  /* display: block; */
  position: relative;
  overflow: hidden;
}

body {
    height: 100vh;
}
header {
  background-color: yellow;
}

h1 {
  font-size: 30px;
  text-align: right;
}

nav {
  background-color: green;
  height: 25px;
}

nav li {
  font-size: .75rem;
  display: inline;
  padding: 5px 30px 5px 30px;
  margin-top: 50px;
  background-color: black;
  /* position: absolute; */
}

nav a {
    color: #FFF;
    text-decoration: none;
}

aside{
  background: #FFF;
  background-image: url("http://www.literarygenius.info/images/william-shakespeare.jpg") ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  /* float: right; */
  width: 25%;
  position: absolute;
  right: 0px;

}

h2{
  text-align: left;
  background color: #FFF;
  font-size: 1.5rem;
}

aside li{
  text-align: left;
  padding-left: 0px;
  margin: 0px;
  font-size: .9rem
}

#content {
  background: gray;
  float: left;
  width: 75%;
}

#content h1 {
  text-align: left;
}

#content li {
  text-align: center;
  list-style: none;
}



footer {
  background-color: Green;
  padding: 20px;
  clear: both;
}

.copyright {

}
