*{
  margin: 0;
}
#wrap{
  /* background:gray; */
  /* display: block; */
  position: relative;
  overflow: hidden;
}

body {
    height: 100vh;
}
header {
  background-color: yellow;
}

h1 {
  font-size: 40px;
  text-align: right;
}

nav {
  background-color: green;
  height: 35px;
}

nav ul {
  align-items: center;
}
nav li {
  font-size: 1.25rem;
  display: inline-block;
  padding: 6px 50px;
  align-items: center;
  background-color: black;
}

nav a {
    color: #FFF;
    text-decoration: none;
}

aside{
  background: #FFF;
  background-image: url("http://www.literarygenius.info/images/william-shakespeare.jpg") ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  height: 100%;
  width: 20%;
  position: absolute;
  right: 0px;

}

h2{
  text-align: left;
  background color: #FFF;
  font-size: 1.5rem;
}

aside li{
  text-align: left;
  padding-left: 0px;
  margin: 0px;
  font-size: 1rem
}

#content {
  background: gray;
  float: left;
  width: 80%;
}

#content h1 {
  text-align: left;
}

#content p {
  padding-right: 5%;
  font-size: 1rem;
}

#content li {
  text-align: center;
  list-style: none;
}

footer {
  background-color: Green;
  padding: 20px;
  clear: both;
}

.copyright {

}
